.CaseStudy .Button {
  display: flex;
  gap: 13px;
  align-items: center;
  border-radius: 6.75px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 7px 10px;
  color: #0a0a0a;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px;
  text-decoration: none;
  cursor: pointer;
}
.CaseStudy .PopupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CaseStudy .PopUpContainer .XMark {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  color: #0a0a0a;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid #ccc;
  padding: 1px 4px;
  border-radius: 6px;
}

.CaseStudy .PopUpContainer {
  position: fixed;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  max-height: 90vh;
  margin: 2%;
  background-color: #fff;
  padding: 30px;
  border-radius: 12.75px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 1011;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.CaseStudy .PopUpContainer .HeaderContainer .BusinessName {
  display: flex;
  align-items: center;
  gap: 13px;
}

.CaseStudy .PopUpContainer .HeaderContainer .BusinessName i {
  font-size: 21px;
  color: #0a0a0a;
}

.CaseStudy .PopUpContainer .HeaderContainer .BusinessName h3 {
  color: #0a0a0a;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.CaseStudy .PopUpContainer .HeaderContainer .MainDescription {
  color: #45556c;
  font-size: 12.906px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 10px 0 15px;
}

.CaseStudy .PopUpContainer .ProjectContainer .Overview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CaseStudy .PopupOverlay .PopUpContainer h4 {
  color: #0a0a0a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.CaseStudy .PopupOverlay .PopUpContainer p {
  color: #45556c;
  font-size: 12.906px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin: 10px 0 15px;
}

.CaseStudy .PopupOverlay .PopUpContainer .Challenge p {
  border-left: 4px solid #e63946;
  background: #fff7f7;
  padding: 14px 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.25);
}

.CaseStudy .PopupOverlay .PopUpContainer .Solution p {
  border-left: 4px solid #1e90ff;
  background: #f4faff;
  padding: 14px 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.25);
}

.CaseStudy .PopupOverlay .PopUpContainer .Outcome p {
  border-left: 4px solid #28a745;
  background: #f3fff6;
  padding: 14px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(40, 167, 69, 0.25);
}
