.Contact {
  background-color: #f8fafc;
}

.Contact .Contact-section {
  padding: 8% 5%;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.Contact h2 {
  color: #0f172b;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Contact .Contact-description {
  color: #45556c;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 24px 0 46px;
}

.Contact .Contact-container {
  display: flex;
  gap: 28px;
}

.Contact .Contact-form {
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 2%;
}

.Contact .Contact-form h4 {
  color: #0a0a0a;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 138.753% */
  margin-bottom: 69px;
}

.Contact .Form-group {
  display: flex;
  gap: 15px;
  margin-bottom: 21px;
}

.Contact label {
  color: #0a0a0a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.Contact .Form-group .Input-wrapper input {
  border-radius: 7px;
  background: #f3f3f5;
  outline: none;
  border: none;
  width: 100%;
  padding: 9px 12px;
  margin-top: 7px;
  font-size: 12px;
}

.Contact .User {
  flex: 1;
}

.Contact .Subject input {
  border-radius: 7px;
  background: #f3f3f5;
  outline: none;
  border: none;
  width: 100%;
  padding: 9px 12px;
  margin-top: 7px;
  font-size: 12px;
}

.Contact .Message {
  margin-top: 21px;
}

.Contact .Message textarea {
  width: 100%;
  height: 120px;
  border-radius: 7px;
  background: #f3f3f5;
  outline: none;
  border: none;
  padding: 2%;
  font-size: 12px;
  margin: 7px 0 21px;
}

.Contact button {
  display: flex;
  padding: 9px 11px;
  border: none;
  border-radius: 7px;
  background: #030213;
  color: white;
  gap: 14px;
  cursor: pointer;
}

.Contact button:hover {
}

.Contact button li {
  font-size: 14px;
}

.Contact button p {
  font-size: 12px;
}

@media (max-width: 795px) {
  .Contact .Contact-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

@media (max-width: 600px) {
  .Contact .Form-group .Input-wrapper input,
  .Contact .Subject input,
  .Contact .Message textarea {
    font-size: 10px;
  }

  .Contact .Contact-section {
    padding: 10% 5%;
  }
}
