.Projects {
  padding: 5%;
}

.Projects h2 {
  color: #0f172b;
  text-align: center;
  font-size: 29.408px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Projects p {
  color: #45556c;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 24px auto 47px;
  width: 500px;
}

.Projects .Project-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.Projects .Project-container {
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Projects img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 13px 13px 0 0;
}

.Projects .Project-info {
  padding: 5%;
}

.Projects h5 {
  color: #0a0a0a;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
