.Resume {
  padding: 7% 5%;
  background-color: #f8fafc;
}

.Resume h2 {
  color: #0f172b;
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Resume .About-resume {
  color: #45556c;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 17px 0 46px;
}

.Resume .Information {
  display: flex;
  gap: 14px;
  align-items: center;
}

.Resume .Dark {
  background: #0f172b !important;
  color: #fff !important;
}
.Resume .Information a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  color: #0a0a0a;
  max-width: 350px;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 11px 15px;
  line-height: 18px;
}

.Resume .Information i {
  font-size: 14px;
}

@media (max-width: 640px) {
  .Resume {
    padding: 15% 5%;
  }
}
