.Skills {
  background-color: #f8fafc;
  padding: 5%;
}

.Skills h2 {
  text-align: center;
  color: #0f172b;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Skills .Skill-tool-container {
  display: flex;
  gap: 42px;
  margin-top: 42px;
}

.Skills .Skill-category {
  width: 500px;
}

.Skills .Skill-category:last-child {
  margin-top: 45px;
}

.Skills .Skill-category h5 {
  color: #0f172b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 28px;
}

.Skills .Skill-info {
  display: flex;
  justify-content: space-between;
}

.Skills .Skill-info p {
  color: #0f172b;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 7px;
}

.Skills .Skill-percentage {
  color: #62748e !important;
}

.Skill-bar {
  background-color: #c7c8ce;
  height: 7px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  margin-bottom: 21px;
}

.Skill-bar-fill {
  background-color: #030213;
  height: 100%;
  width: 0; /* you can animate this */
  transition: width 0.5s ease-in-out;
}

@media (max-width: 1025px) {
  .Skills .Skill-category {
    width: 400px;
  }
}

@media (max-width: 880px) {
  .Skills .Skill-category {
    width: 300px;
  }
}

@media (max-width: 695px) {
  .Skills .Skill-tool-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 42px;
  }

  .Skills .Skill-info {
    display: grid;
    grid-template-columns: 1fr; /* One full-width column */
    gap: 10px; /* Space between rows */
    width: 100%;
  }
}
