.Skills {
  background-color: #f8fafc;
  padding: 8% 5%;
}

.Skills h2 {
  text-align: center;
  color: #0f172b;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Skills h3 {
  color: #0f172b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 28px;
  text-align: center;
}

.Skills .Skill-tool-container {
  display: flex;
  gap: 42px;
  margin-top: 42px;
  justify-content: center;
}

.Skills .First-section {
  max-width: 600px;
  width: 100%;
}

.Skills .Skill-category {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.Skills .Skill {
  border-radius: 8.75px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 17px 0;
  color: #0f172b;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}

@media (max-width: 695px) {
  .Skills .Skill-tool-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 42px;
  }

  .Skills .Skill-category h3 {
    font-size: 18px;
  }

  .Skills .Skill-info span {
    font-size: 11px;
  }
}

@media (max-width: 640px) {
  .Skills {
    padding: 10% 5%;
  }
}
