.Tools {
  max-width: 600px;
  width: 100%;
}

.Tools h5 {
  color: #0f172b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 28px;
}

.Tools .Tools-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(8, auto); /* 8 rows */
  gap: 14px;
}

.Tools .Tool {
  border-radius: 8.75px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 17px 0;
}

.Tools .Tool p {
  color: #0f172b;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.Tools .Goals {
  padding: 4%;
  background-color: #eff6ff;
  border-radius: 9px;
  margin-top: 28px;
}

.Tools .Goals h6 {
  color: #0f172b;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 11px;
}

.Tools .Goals ul {
  list-style: none;
}

.Tools .Goals ul li {
  color: #45556c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.Tools .Goals ul li:not(:last-child) {
  margin-bottom: 4px;
}

@media (max-width: 695px) {
  .Tools h5 {
    font-size: 18px;
  }

  .Tools .Tool p {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .Tools .Goals h6 {
    font-size: 14px;
  }

  .Tools .Goals ul li {
    font-size: 10px;
  }
}
